* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 5px 0;
  z-index: 1000;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #1abc9c;
}

.more {
  position: relative;
}

.more-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 7px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #34495e;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  top: 100%; /* Position below the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset to center */
}

.more:hover .dropdown-content {
  display: block;
}

.dropdown-content .link {
  display: block;
  padding: 10px;
}

.dropdown-content .link:hover {
  background-color: #1abc9c;
}
